:root {
    --text: #afb5ca;
    --background: #000000;
    --primary: #8d978a;
    --secondary: #849e8a;
    --accent: #a8afc6;

}

body {
    color: var(--text);
    background: var(--background);
    font-family: "jim nightshade";
}

h1,
h2,
h3{
    color: var(--primary);
    font-family: "caesar dressing";
}